<html>
	<head>
		<title>Add member</title>
	</head>
    <h1><a href = "{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" width="200" height="100"></a> </h1>
	<h1 align = "center">Become a member today Its free!!!</h1>
	<br>
	<br>
	<form action = "{{ url_for('memberadded') }}" method="POST" >
		<table>
			<tr>
				<td>
					Enter your name
				</td>
				<td>
					<input name = 'name' placeholder = 'Enter your name'>
				</td>
			</tr>
            <tr>
				<td>
					Enter your gender
				</td>
				<td>
					<input name = 'gender' placeholder = 'Enter your gender'>
				</td>
			</tr>
            <tr>
				<td>
					Enter your email
				</td>
				<td>
					<input name = 'email' placeholder = 'Enter your email'>
				</td>
			</tr>
            <tr>
				<td>
					Enter your Contact Number
				</td>
				<td>
					<input name = 'contact' placeholder = 'Enter your contacts'>
				</td>
			</tr>
            <tr>
				<td>
					Enter your address
				</td>
				<td>
					<input name = 'address' placeholder = 'Enter your address'>
				</td>
			</tr>
		</table>
		<input type="submit" value = "Enter">
	</form>

</html>
